/*
background: #263238;
darker background: #222F35;
teal blue: #6DC2B8;
lime green: #C3E887
red: #F67560;
purple: #C792EA;
*/

html {
    background-color: #263238;
}

.axis path,
.axis line {
    fill: none;
    stroke: #6DC2B8;
    shape-rendering: crispEdges;
}

.axis text {
    fill: white;
}

.line {
    fill: none;
    stroke: url(#gradient);
    stroke-width: 1.5px;
}

.area {
    fill: url(#gradient);
    stroke-width: 0;
}

.alarm {
    border: 1px solid #C792EA;
    list-style: none;
}

.alarmText {
    fill: white;
    margin-bottom: 8px;
}

.load {
    margin: 30px 0 0 0;
}

.alarms {
    color: #C792EA;
    height: 200px;
    overflow: auto;
    text-align: center;
}

.alarms h6 {
    margin: 0;
}

.alarms hr {
    margin: 0 0 10px 0;
}

.graph {
    height: 200px;
}